$seapink: #de98ab;
$living-coral: #ff6f61;
$limpet-shell: #98ddde;
$vibrant-yellow: #ffda29;
$black: #000000;

$grey-bg: #f5f5f6;

//Breakpoint
$max-1200: 'screen and(max-width: 1200px)';
$max-1125: 'screen and (max-width: 1125px)';
$max-1025: 'screen and (max-width: 1025px)';
$max-1000: 'screen and (max-width: 1000px)';
$max-991: 'screen and (max-width: 991px)';
$max-979: 'screen and (max-width: 979px)';
$max-768: 'screen and (max-width: 768px)';
$max-767: 'screen and (max-width: 767px)';
$max-500: 'screen and (max-width: 500px)';

$min-768: 'screen and (min-width: 768px)';
$min-992: 'screen and (min-width: 992px)';
$min-980: 'screen and (min-width: 980px)';
$min-1200: 'screen and (min-width: 1200px)';
$min-1366: 'screen and (min-width: 1366px)';
